.header-container-style {
	width: 650px;
}

.inner-header-style {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 75px;
	padding-right: 25px;
	padding-bottom: 10px;
}

.outer-header-style > .inner-header-style {
	background-color: #45b7e6;
	background-image: none;
	border: .5pt solid #8da8bf;
	color: #ffffff;
}

.panel-heading-text {
	font-family: "Open Sans";
	font-size: 52px;
	height: 45px;
	line-height: 40px;
	margin-bottom: 70px;
	margin-top: 70px;
	position: relative;
}

.panel-heading-text span {
	display: inline-block;
	line-height: 40px;
	position: absolute;
	padding-top: 2px;
}

.arrow-button {
	float: right;
	margin-bottom: 0;
	padding-bottom: 0;
}

.submit-button {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	outline: none;
	overflow: hidden;
}

.search-container {
	overflow: auto;
	width: auto;
}

.panel-search {
	color: #555555;
	float: right;
	font-size: 15px;
	padding-right: 20px;
	padding-top: 15px;
}

.panel-body {
	height: 1075px;
	padding: 0;
}

.panel-container {
	width: 100%;
}

.news-item {
	margin-bottom: 20px;
	margin-top: 20px;
}

.news-item:hover {
	background-color: #c4ece4;
}

.new-image-placeholder {
	display: inline-block;
	height: 75px;
	margin-bottom: 20px;
	max-width: 75px;
	width: 75px;
}

.new-image {
	float: right;
}

.news-body {
	display: inline-block;
	padding-left: 4px;
}

.news-item-header {
	font-size: 18pt;
	font-family: "Open Sans";
	font-weight: 600;
	text-decoration: underline;
}

.news-content {
	color: #555555;
	font-size: 18pt;
	font-family: "Open Sans";
	width: 470px;
}

.news-item-header, a{
	color: #555555;
}

.news-thumbnail {
	float: left;
	margin-top: 8px;
	margin-right: 11px;
}

.read-more {
	color: #70ccb5;
	font-size: 14px;
	margin-left: 8px;
}

.search-input {
	margin-left: 10px;
}

.panel {
	border-radius: 15px;
	border: 1.5px solid #8da8bf;
}

hr {
	border-top: 2px dotted #8da8bf;
}