.header-container-style {
	width: 650px;
}

.inner-header-style {
	padding-top: 70px;
	padding-bottom: 70px;
	padding-left: 75px;
	padding-right: 0px;
	border-radius: 15px;
}

.outer-header-style > .inner-header-style {
	background-image: none;
	background-color: #45b7e6;
	color: #ffffff;
	border: 1.5pt solid #8da8bf;
}

.panel-heading-text {
	font-size: 52px;
	font-family: "Open Sans";
}

/*Removing native table borders from bootstrap's default styles*/
.table > thead > tr > th, .table > thead > tr > td {
	border: 0;
	box-shadow: none;
}

.panel {
	border: 0;
	box-shadow: none;
}